body {
    background-color: #24272E;
}

header {
    background-color: white;
    padding: 20px;
}

header > h2 {
    color: #24272E;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Instructions {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: left;
    width: 60%;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    word-wrap: break-word
}

.Scoreboard {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.Card {
    background-color: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.Gameboard {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#Gems {
    align-content: center;
}

.Gem {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
    width: 100px;
}

#Ruby {
    background-color: #9B111E;
}
#Sapphire {
    background-color: #297BC1;
}
#Diamond {
    background-color: #ECE4E3;
}
#Emerald {
    background-color: #767E4A;
}
#Topaz {
    background-color: #F28500;
}